@use "../abstracts";

%flex-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.header {
    padding   : 30px 50px;
    background: var(--header-bg-color);

    @include abstracts.screen (xl) {
        padding: 20px;
    }

    @include abstracts.screen (sm) {
        padding: 16px;
    }
}

.top-bar {
    @extend %flex-center;
    position: relative;

    @include abstracts.screen (md) {
        justify-content: space-between;

    }

    &__more {
        display: none;

        @include abstracts.screen (lg) {
            display: block;
        }



    }

}

.nav {
    margin-left : 144px;
    margin-right: auto;


    @include abstracts.screen (xl) {
        margin-left: 30px;

    }

    @include abstracts.screen (lg) {
        position: fixed;
        inset   : 0 50% 0 0;
        z-index : 9;

        margin-left: 0;
        background : #fff;
        padding    : 10px 0;

        translate : -100%;
        transition: translate 0.3s;

        &.show {
            translate: 0;

        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity   : 1;
        }
    }

    &__arrow-left {
        display: none;

        @include abstracts.screen (lg) {
            display: block;
            padding: 10px 40px;

        }

    }


    &__list {
        @extend %flex-center;

        @include abstracts.screen (lg) {
            flex-direction: column;
            align-items   : flex-start;
        }


    }

    &-item {
        @extend %flex-center;
        column-gap: 6px;
        padding   : 0 15px;

        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen (lg) {
            padding        : 10px 40px;
            width          : 100%;
            justify-content: space-between;

            &:hover .dropdown {
                display: none;
            }
        }


    }

    &__link {
        font-size  : 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__arrow {}

    &__overlay {
        visibility: hidden;
        opacity   : 0;

        @include abstracts.screen (lg) {
            position: fixed;
            inset   : 0;
            z-index : 8;
            

            transition: opacity, visibility  0.3s;


            background: rgba($color: #000000, $alpha: 0.4)
        }
    }


}

.top-act {
    @extend %flex-center;
    column-gap: 20px;

    @include abstracts.screen (lg) {
        margin-left: auto
    }

    @include abstracts.screen (md) {
        margin-left: 0;
    }

    &__group {
        @extend %flex-center;

        height   : 50px;
        min-width: 50px;

        border-radius: 8px;
        background   : var(--top-act-group-bg-color);
        box-shadow   : 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.screen (md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.screen (lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flex-center;
        column-gap: 10px;
        padding   : 13px 20px;
        cursor    : pointer;

    }

    &__title {
        font-size  : 1.5rem;
        font-weight: 600;
        line-height: 1.47;
    }

    &__separate {
        width     : 1px;
        height    : 30px;
        background: var(--top-act-group-separate);

    }

    &__avatar {
        display: block;
        width  : 50px;
        height : 50px;

        border-radius: 8px;
        object-fit   : cover;
        cursor       : pointer;

    }
}